* {
  /* font-size: 1.6rem; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #262525;
  text-decoration: none;
}
a{
  text-decoration: none;
}

:root{
  --color-title: #001A49;
  }

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* box-shadow: 0px 4px 5px #e5e5e5; */
}

.bgc-transparent{
  background-color: transparent;
}

.bgc-grey{
background-color: #fafafa;
box-shadow: 0px 4px 5px #e5e5e5;
} 

.container {
  margin: auto;
  max-width: 1040px;
  width: 90%;
  /* overflow: hidden; */
}

.navbar{
display: flex;;
justify-content: space-between;
align-items: center;
padding: 5px 0px;
}

.navbar ul{
 display: flex;
 margin: auto;
}

.textoLogo{
  display: flex;
  align-items: center;
  color: rgba(240, 255, 255, 0.847);
}

.textoLogo:hover{
  color: rgba(240, 255, 255, 0.847);
}

.textoLogo.black{
  color: #262525;
}
.textoLogo.black:hover{
  color: #262525;
}

.textoLogo img{
  width: 40px;
  /* height: 40px; */
  border-radius: 150%;
  padding: 0 5px;
} 

.navbar ul li{
margin: 0 10px;
padding: 5px 10px;
display: flex;
}

.contenedor-links{
  display: flex;
  align-items: center;
}

.navitem{
  color: rgba(240, 255, 255, 0.847);
  margin: auto;
}

.navitem:hover{
  color: rgba(240, 255, 255, 0.847);
}

.navitem.black{
  color: #262525;
}

.navitem.black:hover{
  color: #262525;
}

.navitem::after{
  content: "";
  display: block;
  height: 2px;
  background-color: chocolate;
  opacity: 80%;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.5s;
}

.navitem:hover::after {
  transform: scale(1, 1);
}

.navitem.activo{
  color:chocolate;
}
.navitem.activo:hover{
  color:chocolate;
}

#carrito{
  background-color: #fafafa;
  border: none;
  border-radius: 150%;
  cursor: pointer;
  padding: 5px;
  width: 40px;
  height: 40px;
}

#carrito i, #carrito span{
  color: chocolate;
  font-size: 1.1rem;
}

main{
  padding-top: 100px;
}

.presentacion{
  width: 100%;
  height: 100vh;
  min-height: 150px;
  max-height: 300px;
  /* position: relative; */
}

.presentacion_img{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
  z-index: -10;
}

.presentacion_principal{
  color:rgba(240, 255, 255, 0.847);
  display: flex;
  flex-direction: column;
}

.presentacion_principal h1{
  color:rgba(240, 255, 255, 0.847);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

.presentacion_principal p{
  color:rgba(240, 255, 255, 0.847);
  padding: 0 200px;
  text-align: center;
}

a.cta{
  color:rgba(240, 255, 255, 0.847);
  margin: 40px auto;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 700;
  box-shadow: 0px 4px 5px #1e1d1d;
  background-color: rgb(242, 137, 51);
}

.informacion{
  display: flex;
  flex-direction: column;
  position: relative;
}

.titulo{
  margin: 25px auto;
  font-weight: 600;
  font-size: 1.5rem;
}

.titulo::before{
  content: "";
  display: block;
  background-color: rgb(242, 137, 51);
  top: 75px;
  left: 0;
  height: 3px;
  width: 100%;
  position: absolute;
  border-radius: 15px;
}

.subtitulo{
  margin: 15px 0 10px 0;
  font-weight: 600;
  font-size: 1.3rem;
  z-index: 1;
}

.subtitulo::before{
  content: "";
  display: block;
  background-color: rgb(242, 137, 51);
  top: 45px;
  left: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  border-radius: 15px;
  z-index: -1;
}

.cotizar{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.cotizar-datos{
  display: flex;
  flex-wrap: wrap;
}

.cotizar-datos .cb{
  background-color: #fff;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 3px 10px;
  margin: 10px 10px 10px 0;
  min-width: 100px;
}

.cotizar-datos input{
  background-color: #fff;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 3px 10px;
  margin: 10px 10px 10px 0;
}

#sumaVh{
  min-width: 200px;
  max-width: 250px;
}

#anioVh{
  min-width: 50px;
  max-width: 100px;
}

#tieneGas{
  min-width: 50px;
}


#btn-cotizar{
  padding: 5px 10px;
  background-color:  rgb(242, 137, 51);
  color: white;
  border: solid 1px black;
  border-radius: 15px;
  margin: 10px auto;
}

.table-responsive{
  overflow-x: auto;
  margin-top: 10px;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th:nth-of-type(2),
th:nth-of-type(3),
th:nth-of-type(4),
th:nth-of-type(5),
td:nth-of-type(2),
td:nth-of-type(3),
td:nth-of-type(4), 
td:nth-of-type(5) {
  text-align: center;
}

.icon-check::before {
  font: var(--fa-font-solid);
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: forestgreen; }

.icon-x::before {
  font: var(--fa-font-solid);
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  color: #e13c3c;
  margin: 0 auto; }

  .fila-costo{
    border-bottom: transparent;
    border-top: solid black 2px;
    font-weight: bold;
  }

  .fila-boton{
    border-bottom: transparent;
  }

  .fila-boton button {
    font-size: 0.8rem;
    margin: 0 auto;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    background-color: #fafafa;
    border-radius: 10px;
    border-color: #262525;
    color: chocolate;
}

.fila-boton button:hover {
  background-color: chocolate;
  border-color: #262525;
  color: #fafafa;
  filter: brightness(130%);
}

.img-logo {
  border-radius: 150%;
  width: 30px;
  height: 30px;
}

.img-redsocial {
  width: 25px;
  height: 25px;
}

.img-redsocial:hover{
  filter: brightness(130%);
}

footer small {
  font-size: 0.7rem;
}


/* MODAL CARRITO */
#modal-carrito .modal-dialog{
  margin-left: minmax(10px, auto);
   margin-right: 10px;
}

#modal-body{
  padding: 5px 15px 15px 15px;
  display: flex;
  flex-direction: column;
}

.modal-header{
padding: 10px;
}

.tituloCarrito{
margin: 0;
color: chocolate;
font-weight: 700;
}

.itemCarrito{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border-bottom: solid 1px chocolate;
  margin-top: 5px;
}

.info-itemCarrito span{
  display: block;
}

.titulo-itemCarrito{
  font-size: .8rem;
}
.subtitulo-itemCarrito{
  font-size: 0.6rem;
  color: darkgrey;
}

.btnEliminar-itemCarrito{
  border: none;
  background-color: rgb(237, 61, 61);
  border-radius: 5px;
  padding: 0 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.btnEliminar-itemCarrito i{
color:#fafafa;
}

.totalCarrito{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.texto-totalCarrito{
  font-size: 1rem;
  font-weight: 700;
}

.btnComprar-carrito{
  border: solid 1px #262525;
  border-radius: 10px;
  background-color: #2bb249;
  color: #fafafa;
  padding: 5px 15px;
  margin: 10px auto 0 auto;
  box-shadow: 0px 4px 5px #717070;
}


#close-nav{
  font-size: 1.2rem;
}

#close-nav.oculto{
  display: none;
}




@media(min-width: 980px) {
  .menuHamburguer{
    display: none;
  }
}

@media(max-width: 980px) {
  .links{
    display: none;
  }

  .menuHamburguer{
    background-color: transparent;
    border: none;
    margin: 0 2px 0 10px;
  }

  .menuHamburguer i{
    font-size: 2rem;
    font-weight: 700;
    color:rgba(240, 255, 255, 0.847)
  }

  .menuHamburguer i.black{
    color: black;
  }

  .menuHamburguer i.black:hover{
    color: chocolate;
  }

  .presentacion_principal p{
    padding: 0 150px;
  }
}

@media(max-width: 788px){
  .presentacion_principal p{
    padding: 0 100px;
  }
}

@media(max-width: 650px){
  .presentacion_principal p{
    display: none;
  }
}